<div style="font-size: large; color: darkred; height: 50px;">Infiniti cars manager</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name
                </th>
                <th>Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="danger" colspan="4" data-ng-show="haveContent">There are no makes
                </td>
            </tr>
            <tr data-ng-repeat="make in makes">
                <td>{{make.Name}}
                </td>
                <td>{{make.Description}}
                </td>
                <td style="width: 4%;">
                    <a href="#MakeEdit/{{make.Id}}"><i class="edit icon"></i></a>
                </td>
                <td style="width: 4%;">
                    <a href="javascript:;" data-ng-click="deleteMake(make.Id)"><i class="trash icon"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="float: right;">
        <a href="#MakeAdd">Create new make</a>
    </div>
</div>
