<!doctype html>
<html data-ng-app="demo">
<head>
    <meta charset="utf-8">
    <title>Infiniti Cars Manager</title>
</head>
<body>
    <div ng-controller="makesController">
        <div data-ng-view>
        </div>
    </div>

    <link href="~/app/css/Basic.css" rel="stylesheet" />
    <link href="~/app/css/semantic.css" rel="stylesheet" />
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/app/js/app.js"></script>

    <script src="~/app/js/Make/Controllers/makeAddController.js"></script>
    <script src="~/app/js/Make/Controllers/makeEditController.js"></script>
    <script src="~/app/js/Make/Controllers/makesController.js"></script>
    <script src="~/app/js/Make/Services/makeService.js"></script>
    <script src="~/app/js/Make/Services/makeService.js"></script>
    <script src="~/app/js/Make/Services/makesService.js"></script>

    <script src="~/app/js/User/Controllers/userAddController.js"></script>
    <script src="~/app/js/User/Controllers/userEditController.js"></script>
    <script src="~/app/js/User/Controllers/usersController.js"></script>
    <script src="~/app/js/User/Services/userService.js"></script>
    <script src="~/app/js/User/Services/usersService.js"></script>
    <script src="~/app/directives/User/userMakes.js"></script>
</body>

</html>
